<h1>Categories</h1>

<ul class="nav nav-pills flex-column">
{% if cats %}
    {% for c in cats %}
        {% if c == act_cat %}
            <li class="nav-item"><a href="{% url 'show_category' c.slug %}" class="nav-link active">{{ c.name }}<span class="sr-only">(current)</span></a></li>
        {% else %}
            <li class="nav-item"><a href="{% url 'show_category' c.slug %}" class="nav-link">{{ c.name }}</a></li>
        {% endif %}
    {% endfor %}
{% else %}
    <li><strong>No categories present.</strong></li>
{% endif %}
</ul>
