<!DOCTYPE html>
{% load rango_template_tags %}
{% load staticfiles %}

<html>
    <head>
        <title>
            Rango -
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>
    </head>
    <body>
        <div style="float:left;width:20%;">
            {% block side_bar %}
                {% get_category_list category %}
            {% endblock %}
        </div>
        <div style="float:left;width:80%">
            <div>
                {% block body_block %}
                {% endblock %}
            </div>
            <hr/>
            <div>
                {% block page_footer %}
                    Menu:&nbsp;
                    <a href="{% url 'add_category' %}">Add New Category</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'index' %}">Index</a>
                    <a href="{% url 'login' %}">Login</a>
                {% endblock %}
            </div>
        </div>
    </body>
</html>